.container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, black 10%, transparent 125%),
    linear-gradient(to bottom, var(--gradient-bg-green) 25%, transparent 85%),
    linear-gradient(to right, black 15%, transparent 60%),
    linear-gradient(to left, black 15%, transparent 60%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "Forget Password";
  position: absolute;
  top: 24.5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 9.5rem;
  font-weight: bold;
  line-height: 7.5rem;
  text-transform: uppercase;
  letter-spacing: -0.5rem;
  font-family: "Futura-Bold";
  color: var(--gradient-bg-text);
  z-index: -1;
}

.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 43%;
  width: 40%;
  max-width: 550px;
  font-size: 1rem;
  padding: 1.5rem 1.8rem 1.5rem;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--black);
}

:root {
  --form-max-width: 100%;
  --container-line-height: 1.2;
}

@media (max-width: 1024px) {
  .container::before {
    font-size: clamp(7rem, 8vw, 9rem);
    top: 28%;
  }

  .formContainer {
    width: 50%;
  }


}

@media (max-width: 768px) {
  .container::before {
    font-size: clamp(6rem, 7vw, 7rem);
    width: 100%;
    top: 25%;
    line-height: 1.2;
  }

  .formContainer {
    width: var(--form-max-width);
    top: 40%;
  }
}

@media (max-width: 550px) {
  .container::before {
    font-size: clamp(4.6rem, 6vw, 5rem);
    width: 95%;
    top: 25%;
    letter-spacing: -0.3rem;
    line-height: 1.2;
  }

  .formContainer {
    width: var(--form-max-width);
    top: 42%;
  }
}

@media (max-width: 420px) {
  .container::before {
    font-size: clamp(4rem, 6vw, 4.6rem);
    width: 100%;
    top: 22%;
  }

  .formContainer {
    width: var(--form-max-width);
    top: 42%;
    padding-bottom: 0;
  }
}
