@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

/*--------------------------------------------------------------
🌌 Global Styles
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  /* background-color: var(--bg);
    color: var(--text); */
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  overflow-x: hidden;
}
.stroke-outline-text {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: -0.09em;
  color: transparent;
  -webkit-text-stroke: 1px rgb(129, 52, 245);
  user-select: none;
  white-space: nowrap;
  line-height: 1;
  pointer-events: none;
  -webkit-background-clip: text;
  background-clip: text;
}
.home-native-scroll {
  overflow-y: auto;
  scroll-behavior: smooth !important;
  -webkit-overflow-scrolling: auto !important;
  will-change: auto !important;
}
.js-native-scroll {
  overflow-y: auto;
  max-height: 100vh;
  scroll-behavior: auto !important;
  -webkit-overflow-scrolling: touch;
}
.heroSection {
  min-height: 100vh;
  background-color: #000000;
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

/*--------------------------------------------------------------
🌍 Root CSS Variables
--------------------------------------------------------------*/
:root {
  --bg: #fff;
  --bg-muted: #f5f5f5;
  --text: #000;
  --text-muted: #131313;

  --color-primary: #dc143c;
  --primary-500: #877eff;
  --color-accent: rgb(228, 228, 171);
  --primary-600: #5d5fef;

  --subtle-text: #6c6c6c;
  --subtle-text-hover: #3e3e3e;

  --green: #007550;
  --forest-green: #16483b;
  --forest-dark-green: #061f17;
  /*--------------------------------------------------------------
  NEUTRAL COLORS 
--------------------------------------------------------------*/
  --white: #ffffff;
  --black: #000000;
  --off-white: #c7c7c7;
  --off-black: #131313;
  --dark-100: #131313;
  --dark-200: #1a1a1a;
  --dark-300: #414141;
  --dark-400: #525252;
  --dark-500: #666666;
  --light-500: #7a7a7a;
  --light-400: #8f8f8f;
  --light-300: #a3a3a3;
  --light-200: #b8b8b8;
  --light-100: #c7c7c7;

  --dark-1: #000000;
  --dark-2: #09090a;
  --dark-3: #101012;
  --dark-4: #1f1f22;
  --light-1: #ffffff;
  --light-2: #efefef;
  --light-3: #7878a3;
  --light-4: #5c5c7b;

  /*--------------------------------------------------------------
  GRADIENTS
--------------------------------------------------------------*/
  --gradient-bg-green: rgba(19, 133, 105, 0.788);
  --gradient-bg-text: rgba(6, 27, 18, 0.194);
  /* --gradient-bg-green: rgba(183, 12, 80, 0.934);
  --gradient-bg-text: rgba(59, 10, 30, 0.231); */

  /*--------------------------------------------------------------
  🌈 THEME COLORS e.g shadcn
--------------------------------------------------------------*/
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*--------------------------------------------------------------
🌒 Dark Mode 
--------------------------------------------------------------*/
.dark {
  --bg: #000;
  --bg-muted: #131313;
  --text: #000;
  --text-muted: #ececec;
  /*--------------------------------------------------------------
  THEME COLORS e.g shadcn
--------------------------------------------------------------*/
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {

  
  --font-Gilroy: "Gilroy", sans-serif;
  --font-Futura: "Futura", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: monospace;
  --font-blackout: "Blackout-Midnight", sans-serif;
  --font-blackout-2am: "Blackout-2am", sans-serif;
  /*--------------------------------------------------------------
  MAINLAYOUT
--------------------------------------------------------------*/
  --color-crimson: #dc143c;
  --color-dark-100: #131313;

  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-secondary-500: var(--secondary-500);
  --color-dark-1: var(--dark-1);
  --color-dark-2: var(--dark-2);
  --color-dark-3: var(--dark-3);
  --color-dark-4: var(--dark-4);
  --color-light-1: var(--light-1);
  --color-light-2: var(--light-2);
  --color-light-3: var(--light-3);
  --color-light-4: var(--light-4);

  --breakpoint-xs: var(--breakpoint-xs);

  /*--------------------------------------------------------------
  SHADCN
--------------------------------------------------------------*/

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-dark-4: var(--dark-4);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer components {
  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14;
  }

  .shad-form_label {
    @apply text-white;
  }

  .shad-form_message {
    @apply text-red-500;
  }

  .shad-input {
    @apply h-12 bg-dark-4 border-none placeholder:text-light-4 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3;
  }

  .shad-textarea {
    @apply h-36 bg-dark-3 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3;
  }

  .shad-button_primary {
    @apply bg-primary-500 hover:bg-primary-500 text-light-1 flex gap-2;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white;
  }
}

/*--------------------------------------------------------------
🔡 Font Declarations
--------------------------------------------------------------*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Gilroy.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Futura-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Blackout-Midnight";
  src: url("./assets/fonts/Blackout-Midnight.woff2") format("woff2"),
    url("./assets/fonts/Blackout-Midnight.woff") format("woff");
}
@font-face {
  font-family: "Blackout-2am";
  src: url("./assets/fonts/Blackout-2AM.woff2") format("woff2"),
    url("./assets/fonts/Blackout-2AM.woff2") format("woff");
}
@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/DM-Sans-regular.woff2") format("woff2"),
    url("./assets/fonts/DM-Sans-regular.woff") format("woff");
}

/*--------------------------------------------------------------
WEBKIT STYLES
--------------------------------------------------------------*/
::selection {
  background-color: #2e2e2e;
  color: #fbfbfb;
}
::-webkit-scrollbar {
  display: none;
  width: 2px;
  height: 20px;
}
::-webkit-scrollbar-track {
  background: var(--color-foreground);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(211, 204, 150);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputField:-webkit-autofill {
  font-family: "Gilroy Regular" !important;
  font-size: 0.9rem !important;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  transition: background-color 9999s ease-in-out 0s;
}
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*--------------------------------------------------------------
🌀 ANNIMATIONS
--------------------------------------------------------------*/
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
