/*--------------------------------------------------------------
🌀 Tailwind Base Imports & Plugins
--------------------------------------------------------------*/
@import "tailwindcss";
@import "tw-animate-css";

/*--------------------------------------------------------------
🌗 Custom Dark Variant
--------------------------------------------------------------*/
@custom-variant dark (&:is(.dark *));

/*--------------------------------------------------------------
🌍 Base Styles & Reset
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  overflow-x: hidden;
}

/*--------------------------------------------------------------
✍️ Utility Classes
--------------------------------------------------------------*/
.stroke-outline-text {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: -0.09em;
  color: transparent;
  -webkit-text-stroke: 1px rgb(35, 35, 35);
  user-select: none;
  white-space: nowrap;
  line-height: 1;
  pointer-events: none;
  -webkit-background-clip: text;
  background-clip: text;
}

/*--------------------------------------------------------------
✍️ Utility Classes
--------------------------------------------------------------*/
.stroke-outline-text {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: -0.09em;
  color: transparent;
  -webkit-text-stroke: 1px rgb(35, 35, 35);
  user-select: none;
  white-space: nowrap;
  line-height: 1;
  pointer-events: none;
  -webkit-background-clip: text;
  background-clip: text;
}

.heroSection {
  min-height: 100vh;
  background-color: #000000;
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

/*--------------------------------------------------------------
🌍 Root CSS Variables
--------------------------------------------------------------*/
:root {
  /*--------------------------------------------------------------
FONTS
--------------------------------------------------------------*/
  --font-Gilroy: "Gilroy", sans-serif;
  --font-Futura: "Futura", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /*--------------------------------------------------------------
SPECIAL FONTS
--------------------------------------------------------------*/
  --font-blackout: "Blackout-Midnight", sans-serif;
  --font-blackout-2am: "Blackout-2am", sans-serif;

  /*--------------------------------------------------------------
🌍GENERAL COLORS
--------------------------------------------------------------*/
  --bg: #fff;
  --bg-muted: #f5f5f5;
  --text: #000;
  --text-muted: #131313;
  --font: #000;

  --color-primary: #dc143c;
  --color-secondary: #007550;
  --color-accent: rgb(228, 228, 171);
  --color-muted: var(--gray-500);

  /*--------------------------------------------------------------
TEXT STYLING
--------------------------------------------------------------*/
  --subtle-text: #6c6c6c;
  --subtle-text-hover: #3e3e3e;

  /*--------------------------------------------------------------
SEMANTIC COLORS
--------------------------------------------------------------*/
  --success: #16a34a;
  --error: #dc2626;
  --warning: #facc15;
  --info: #0ea5e9;

  /*--------------------------------------------------------------
  🌳 GREEN SHADES
--------------------------------------------------------------*/
  --green: #007550;
  --forest-green: #16483b;
  --forest-dark-green: #061f17;

  /*--------------------------------------------------------------
  NEUTRAL COLORS 
--------------------------------------------------------------*/
  --white: #ffffff;
  --black: #000000;
  --off-white: #c7c7c7;
  --off-black: #131313;
  --dark-50: #0c0c0c;
  --dark-100: #131313;
  --dark-200: #1a1a1a;
  --dark-300: #414141;
  --dark-400: #525252;
  --dark-500: #666666;
  --light-500: #7a7a7a;
  --light-400: #8f8f8f;
  --light-300: #a3a3a3;
  --light-200: #b8b8b8;
  --light-100: #c7c7c7;

  /*--------------------------------------------------------------
  GRADIENTS
--------------------------------------------------------------*/
  --gradient-bg-green: rgba(19, 133, 105, 0.788);
  --gradient-bg-text: rgba(6, 27, 18, 0.194);
  /* --gradient-bg-green: rgba(183, 12, 80, 0.934);
  --gradient-bg-text: rgba(59, 10, 30, 0.231); */

  /*--------------------------------------------------------------
  RADIUS
--------------------------------------------------------------*/
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 9999px;

  /*--------------------------------------------------------------
  SPACING
--------------------------------------------------------------*/
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;

  /*--------------------------------------------------------------
  SHADOWS
--------------------------------------------------------------*/
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);

  /*--------------------------------------------------------------
TRANSITIONS
--------------------------------------------------------------*/
  --transition-fast: 150ms ease-in-out;
  --transition-base: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;

  /*--------------------------------------------------------------
  🌈 THEME COLORS e.g shadcn
--------------------------------------------------------------*/
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  /*--------------------------------------------------------------
  CHART COLORS
--------------------------------------------------------------*/
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  /*--------------------------------------------------------------
  SIDEBAR TOKENS
--------------------------------------------------------------*/
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*--------------------------------------------------------------
🌒 Dark Mode Override (Scoped via `.dark`)
--------------------------------------------------------------*/
.dark {
  /*--------------------------------------------------------------
  GENERAL COLORS
--------------------------------------------------------------*/
  --bg: #000;
  --bg-muted: #131313;
  --text: #000;
  --text-muted: #ececec;
  --font: #fff;

  /*--------------------------------------------------------------
  THEME COLORS e.g shadcn
--------------------------------------------------------------*/
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  /*--------------------------------------------------------------
  CHART COLORS
--------------------------------------------------------------*/
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  /*--------------------------------------------------------------
  SIDEBAR TOKENS
--------------------------------------------------------------*/

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*--------------------------------------------------------------
🎨 Custom Theme Tokens
--------------------------------------------------------------*/

@theme {
  --color-bg: #00000;
  --color-text: #fff;
}
@theme inline {
  --font-Gilroy: "Gilroy", sans-serif;
  --font-Futura: "Futura", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-sans: "Inter", sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*--------------------------------------------------------------
🌀 Tailwind Utility Layers
--------------------------------------------------------------*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
    transform-origin: center;
  }
}

/*--------------------------------------------------------------
🔡 Font Declarations
--------------------------------------------------------------*/
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Gilroy.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Futura-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Blackout-Midnight";
  src: url("./assets/fonts/Blackout-Midnight.woff2") format("woff2"),
    url("./assets/fonts/Blackout-Midnight.woff") format("woff");
}
@font-face {
  font-family: "Blackout-2am";
  src: url("./assets/fonts/Blackout-2AM.woff2") format("woff2"),
    url("./assets/fonts/Blackout-2AM.woff2") format("woff");
}
@font-face {
  font-family: "Sans";
  src: url("./assets/fonts/DM-Sans-regular.woff2") format("woff2"),
    url("./assets/fonts/DM-Sans-regular.woff") format("woff");
}

/*--------------------------------------------------------------
WEBKIT STYLES
--------------------------------------------------------------*/
::selection {
  background-color: #2e2e2e;
  color: #fbfbfb;
}

::-webkit-scrollbar {
  display: none;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField:-webkit-autofill {
  font-family: "Gilroy Regular" !important;
  font-size: 0.9rem !important;
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset !important;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  transition: background-color 9999s ease-in-out 0s;
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*--------------------------------------------------------------
🌀 ANNIMATIONS
--------------------------------------------------------------*/
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
