.container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, black 35%, transparent 125%),
    linear-gradient(to bottom, var(--gradient-bg-green) 25%, transparent 85%),
    linear-gradient(to right, black 15%, transparent 60%),
    linear-gradient(to left, black 15%, transparent 60%);
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container::before {
  content: "SIGN UP";
  position: absolute;
  top: 18%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 14rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.7rem;
  font-family: "Futura-Bold";
  color: var(--gradient-bg-text);
  z-index: -1;
}

.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 35%;
  width: 40%;
  max-width: 550px;
  font-size: 1rem;
  padding: 1rem 1.8rem;
  color: var(--white);
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .container::before {
    font-size: 10rem;
  }

  .formContainer {
    width: 50%;
  }
}

@media (max-width: 980px) {
  .container::before {
    font-size: 10rem;
    top: 15%;
  }
}

@media (max-width: 768px) {
  .container::before {
    font-size: 7.5rem;
    width: 90%;
    top: 15%;
    line-height: 6rem;
  }

  .formContainer {
    width: 70%;
    top: 35%;
  }
}
@media (max-width: 630px) {
  .container::before {
    width: 70%;
    font-size: 8rem;
    line-height: 7rem;
    top: 25%;
  }

  .formContainer {
    width: 80%;
    top: 35%;
  }
}

@media (max-width: 550px) {
  .container::before {
    font-size: 8rem;
    top: 25%;
    letter-spacing: -0.3rem;
    line-height: 6.5rem;
  }

  .formContainer {
    width: 100%;
    top: 48%;
  }
}

@media (max-width: 420px) {
  .container::before {
    font-size: 7rem;
    width: 80%;
    top: 27%;
  }

  .formContainer {
    width: 100%;
    top: 42%;
  }
}
