.wrapper {
  color: white;
  min-height: 100vh;
}
.bg {
  background: url("https://images.pexels.com/photos/8624439/pexels-photo-8624439.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  margin-top: 5rem;
  height: 90vh;
}

.hero {
  display: flex;
  background-color: #1e1e1e;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: white;
}

.line1,
.line2,
.and {
  text-align: center;
  margin: 0 0.5rem;
  font-size: 5rem;
  color: rgb(214, 214, 214);
  letter-spacing: -0.5rem;
  font-family: "Futura-Bold";
  text-transform: uppercase;
}

.and {
  font-size: 5rem;
  line-height: 2rem;
  color: var(--crimson);
}

.getStartedButton {
  margin: 2.5rem 0 5rem 35rem;
  padding: 0.8rem 0.8rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-family: "Gilroy Bold";
  color: var(--crimson);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--dark-100);
  transition: all 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s linear;
    background-color: white;
    color: black;
    box-shadow: 0 0 60px var(--forest-green);
  }
}
.icon {
  padding-left: 6px;
  color: var(--wheat);
  font-size: 0.9rem;
}

/* ----------- MEDIA QUERIES ------------ */

@media (max-width: 1100px) {
  .hero {
    margin-top: 1rem;
  }
  .line1,
  .line2 {
    font-size: 3.5rem;
  }
  .and {
    font-size: 4rem;
  }
  .getStartedButton {
    width: 8rem;
    margin: 1rem auto;
    padding: 0.8rem 0.6rem;
  }
}

@media (max-width: 795px) {
  .line1,
  .line2,
  .and {
    font-size: 3rem;
    line-height: 3rem;
  }
  .getStartedButton {
    width: 8rem;
    margin: 3rem auto;
    padding: 0.8rem 0.7rem;
    font-size: 0.8rem;
    background-color: white;
    color: black;
  }
}

@media (max-width: 640px) {
  .line1,
  .line2,
  .and {
    font-size: 2.4rem;
  }
}

@media (max-width: 490px) {
  .hero {
    flex-direction: column;
    background-color: black;
  }
  .line1 {
    text-align: center;
    background-color: #222222;
    width: 100%;
  }
  .line1,
  .line2,
  .and {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 400px) {
  .hero {
    margin-top: 4rem;
    padding: 5px 0;
  }
  .line1,
  .line2,
  .and {
    letter-spacing: -5px;
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .marqueeItem {
    font-size: 0.7rem;
  }
}
