.header {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.nav {
  width: 50%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.sphere {
  position: fixed;
  top: 2.7%;
  left: 2.7%;
}
.logo {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 30px;
  cursor: pointer;
}
.sphere-letters {
  font-size: 1.6rem;
  z-index: 2;
  font-weight: 800;
  font-family: "Poppins";
  text-transform: uppercase;
  color: rgb(214, 214, 214);
  cursor: default;
  padding: 0.2rem 0.2rem 0.2rem 1.5rem;
  border-radius: 20px;
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.letters {
  display: flex;
  position: relative;
}

.nav-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icons {
  position: absolute;
  left: 0;
}

.login-button,
.signup-button {
  padding: 0.5rem 1rem;
  font-size: 0.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.signup-button {
  color: crimson;
}

.menu {
  position: fixed;
  top: 3.5%;
  right: 4%;
  z-index: 100;
  font-size: 0.8rem;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins";
  z-index: 2;
}

.menu:hover {
  color: rgb(126, 126, 126);
}

@media screen and (max-width: 1200px) {
  .nav {
    width: 70%;
  }
}

@media screen and (max-width: 1020px) {
  .header {
    height: 14vh;
  }
  .sphere-letters {
    top: 3.2%;
    left: 3%;
  }
  .nav {
    width: 80%;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 12vh;
  }
  .sphere-letters {
    font-size: 1.1rem;
    top: 4%;
    left: 4%;
  }

  .nav {
    width: 90%;
    gap: 1rem;
  }

  .login-button,
  .signup-button {
    font-size: 0.75rem;
    padding: 0.4rem 0.8rem;
  }

  .menu {
    font-size: 1.6rem;
    right: 4%;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 10vh;
  }

  .sphere-letters {
    font-size: 1rem;
    top: 4%;
    left: 5%;
  }

  .nav {
    flex-direction: column;
    gap: 0.8rem;
  }

  .login-button,
  .signup-button {
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem;
  }

  .menu {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .header {
    height: 9vh;
  }
  .nav {
    position: inherit;
    right: 0;
    margin-top: 3.5rem;
    width: 20%;
  }

  .sphere-letters {
    font-size: 0.9rem;
    top: 5%;
    left: 6%;
  }

  .login-button,
  .signup-button {
    font-size: 0.6rem;
    padding: 0 0.8rem;
  }
  .nav-icons {
    font-size: 13px;
  }

  .menu {
    font-size: 0.8rem;
  }
}
